.container{
    display: flex;
    flex-direction: row;
    height: 700px;
}   
.one,
.five{
    align-self: flex-end;
    width: 100px;
    height: 100px;
    background-color: gold;
}
.two,
.four{
    align-self: center;
    width: 100px;
    height: 100px;
    background-color: gold;
}
.three{
    width: 100px;
    height: 100px;
    background-color: gold;
}
