#P1{
    font-family: fantasy; color: red; font-size: 25px;
}
#P2{
    font-family: Arial; color:green; font-size: 30px;  
}
.style{
    color: red;
}
.font{
    font-size:35px;
}.color{
    color: orangered;
    font-size:40px; 
}
.size{
    font-size: 38px;
    color: blueviolet;
}
h1{
    text-align: center;
}  
