body{
    background:white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-align: center;
    margin:0;
    padding:0;
    height: 100%;
}
.header1{
    display: inline-block;
    height: 50px;
    width: 750px;
    background: orange;
    padding: 10px;
    margin: 10px;
}
.content{
    display: inline-block;
    padding: 10px;
    margin: 10px;
    background: greenyellow;
    width: 1560px;
    height: 250px;
}
.aftercontent{
    background: blue;
    width: 30%;
    height: 200px; 
    padding: 10px;
}
.one{
    margin: 10px;
}
.two{
    margin: -230px 10px 10px 540px;
}
.three{
    margin: -230px 10px 10px 1090px;
}
.footer{
    background: gray;
    width: 350px;
    height: 60px;
    padding: 10px;
}
.first{
    margin: 10px;
}
.second{
    margin: -90px 10px 10px 410px;
}
.third{
    margin: -90px 10px 10px 820px;
}
.fourth{
    margin: -90px 10px 10px 1220px;
}

