.ordinary{
color: aquamarine;
}
a{

}
p{
    font-family: 'Times New Roman'; color: red; font-size: 25px;
}
p{
    font-family: Arial; color:green; font-size: 30px;  
}
p{
    font-family: Calibri; color: orange; font-size: 20px; 
}