body{
    width: 100%;  
}
.header{
    margin: auto;
    padding: 40px;
    width: 90%;
    height: 15%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background: rgb(194, 72, 72);
}
.menu{
    position: fixed;
    width: 10%;
    height: 90%;
    background: rgba(126, 63, 243, 0.5);
    margin: auto;
    text-align: center;
}
.content{
    display: inline-block;
    width: 90%;
    height: 15%;
    margin:0px 1.5% 24px 10%;
    padding: 10px;
     
}
.one{
    border: 2px solid black;
    border-radius: 15px;
    width: 80px ;
    height: 10px;
    padding: 10px;
    margin: 10px;
    text-align: center;
}
.two{
    border: 2px solid black;
    border-radius: 15px;
    width: 80px;
    height: 10px;
    padding: 10px;
    margin: 10px;
    text-align: center;
}
.footer{
    display: inline-block;
    margin: 250px 1.5% 24px 5%;
    padding: 10px;
    width: 90%;
    height: 15%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background: rgb(65, 165, 65);
    text-align: center;
}