table{
    border-collapse: separate;
    border-spacing: 4px 10px;
    width: 100%;
    text-align: center;
}
th, td{
    border: 1px solid gray;
    padding: 10px 15px;
}
th{
    width:50px;
    padding: 20px 15px;
    margin: 10px;
    background: orange;
}
.cont{
    margin: 0px 1.5% 24px 1.5%;
    background: greenyellow;
    width: 97%;
    height: 250px;
}
tbody td{
 background: blue;
height: 200px; 
margin: 0px 1.5% 24px 1.5%;
}
tfoot td{
    background: rgb(222, 235, 42);
    width: 15%;
    padding: 30px 15px;
    margin: 10px 1.5% 24px 1.5%;
}
    