table{
    border-collapse: separate;
    border-spacing: 4px 10px;
    width: 100%;
    text-align: center;
}
th, td{
    border: 1px solid gray;
    
}
th{
    width:50px;
    padding: 20px 15px;
    margin: 10px;
    background: orange;
}
.cont{
    background: blue;
    width: 50%;
    padding: 150px 15px;
    margin: 10px;
}
tbody td{
    background:green;
    width: 30%;
    margin: 10px 1.5% 24px 1.5%;
    padding: 80px 15px;
}
tfoot td{
    background: rgb(222, 235, 42);
    width: 15%;
    padding: 30px 15px;
    margin: 10px 1.5% 24px 1.5%;
}
td:hover{
    background:blueviolet;}
    th:hover{
        background: red;
    }