
.header{
    position: relative;
    margin: 10px;
    width: 98%;
    height: 80px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background: rgb(194, 72, 72);
}
.content{
    width: 68%;
    padding: 15%;
    background: rgb(109, 193, 231);
    margin: 10px;
    border-radius: 20px;
    margin-bottom:20px;
}

.footer{
    margin: 10px;
    width: 97%;
    height: 10%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background: rgb(65, 165, 65);
    position: absolute;
    bottom: 5px;
}

button{
    background: rgb(53, 174, 243);
    color: aliceblue;
}